/node_modules
/node_modules.nosync
/public/hot
/public/storage
/public/js
/public/css
/public/fonts
/public/images
/public/mix-manifest.json
/resources/js/ziggy.js
/resources/js/vue-i18n-locales.generated.js
/storage/debugbar
/storage/*.key
/vendor
/.vagrant
/.idea
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
_ide_helper.php
_ide_helper_models.php
.phpstorm.meta.php
.idea
.php_cs
.php_cs.cache
supervisord.log
supervisord.pid
composer.lock
.DS_Store
public/.DS_Store

